@import 'vars.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

.clearfix::after {
        display: block;
        content: '';
        clear: both;
}

body {
    background-color: var(--light-gray);
    font-size: 14px;
    min-height: 100vh
}

header {
    position: relative;
    width: auto;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 10px 25px 10px;
    text-align: right;
    background-color: var(--light-gray);
}

.logo {
    position: absolute;
    display: block;
    width: 240px;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.menu {
    display: inline-block;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: white;
    font-family: 'Arial regular';
}

.menu__item {
    position: relative;
    display: inline-block;
    padding: 0.2rem 0.15rem 0.2rem 0.15rem;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}
.menu__item:last-of-type {
    margin-right: 0rem;
}
.menu__item > a {
    display: inline-block;
    text-decoration: none;
    color: var(--basic-font);
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    text-align: center;
}
.menu__item:hover {
    border-bottom: 3px solid var(--orange);
} 
.submenu {
    display: none;
    position: absolute;
    top: 29px;
    left: 0px;
    background-color: white;
    list-style: none;
    text-align: center;
    z-index: 1;
}
.submenu__item {
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
}
.submenu__item:first-child {
    padding-top: 0.6rem;
}
.submenu__item:last-child {
    padding-bottom: 0.7rem;
}
.submenu__item > a {
    display: inline-block;
    text-decoration: none;
    color: var(--basic-font);
}
.submenu__item > a:hover {
    color: var(--orange);
    text-decoration: underline;
}
submenu__item > a:first-child {
    margin-top: 1rem;
}
.menu__item:hover > .submenu {
    display: block;
}



.slider-wrapper {
    position: relative;
}

.slider {
    overflow: hidden;
}

.slider figure img {
    width: 20%;
    float: left;
}

.slider figure { 
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 30s slidy infinite; 
}

@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }

.stamp1 {
    position: absolute;
    width: 150px;
    top: 10px;
    right: 345px;
}

.stamp2 {
    position: absolute;
    width: 150px;
    top: 10px;
    right: 180px;
}

.stamp3 {
    position: absolute;
    width: 150px;
    top: 10px;
    right: 10px;
}

.slider-bottom {
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
}


main {
    width: auto;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 4rem 2rem 4rem;
    background-color: rgb(250, 250, 250);   
}

h2 {
    text-transform: uppercase;
    font-family: 'Arial regular';
    font-size: 2rem;
    color: var(--header-font);
    margin-bottom: 2rem;
}

.agency-image {
    float: left;
    width: 45%;
    margin-right: 25px;
    margin-bottom: 25px;
}

p {
    font-family: 'Arial regular';
    line-height: 1.2rem;
    color: var(--header-font);
    text-indent: 2rem;
    text-align: justify;
    margin-bottom: 1rem;
    list-style: none;
}

main > p:last-of-type {
    margin-bottom: 0;
}

p + ul {
    font-family: 'Arial regular';
    line-height: 1.2rem;
    color: var(--basic-font);
    text-indent: 1rem;
    text-align: justify;
    list-style: none;
}

.arrow-style {
    margin-bottom: 0.5rem;
}

.arrow-style:last-of-type {
    margin-bottom: 1.5rem;
}

.arrow-style::before {
    content: '\21D2';
    display: inline-block;
    vertical-align: center;
    padding-right: 12px;
    color: var(--orange);
}

footer {
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 0 1rem 0;
    text-align: center;
}

footer > p {
    text-align: center;
    color: white;
    line-height: 1rem;
    margin-bottom: 0.5rem;
}

footer > p:last-of-type {
    margin-bottom: 0rem;
} 

@media (max-width: 775px){
    
    .logo {
        width: 40%;
    }

    .menu, .stamp1, .stamp2, .stamp3 {
    display: none;
    }

    main {
        padding: 1rem;
    }

    h2 {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 0.5rem;
        text-align: left;
    }

    .arrow-style {
        margin-bottom: 0.2rem;
    }

    .arrow-style:last-of-type {
        margin-bottom: 1rem;
    }

    .agency-image {
        display: block;
        width: 100%;
    }
}
