@keyframes animation1 {
    0% { transform: translate(0px); }
    50% { transform: translate(232px); }
    100% { transform: translate(300px); }
    }


.round {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 100px;
    background-color: green;
}

.round {
    animation-name: animation1;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: 2;
}

.round:hover {
    animation-play-state: paused;
}

.block {
    width: 300px;
    height: 70px;
    margin-left: 100px;
    background-color: red;
}