@import 'mobile.css';
@import 'tablet.css';
@import 'desktop.css';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}









