.first-letter {
    float: left;
    font-size: 64px;
    font-weight: bold;
}
.block1 {
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: yellow;
}
.block2 {
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: red;
}
.block3 {
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: blue;
}
.block4 {
    float: left;
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: purple;
}