body {
    padding: 50px;
}

.list {
    padding: 20px;
    counter-reset: list;
    list-style: none;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1)
}

.list-item {
    margin-bottom: 20px;
}

.list-item:last-child {
    margin-bottom: 0;
}

.list-item::before {
    float: left;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    counter-increment: list;
    content: counter(list);
    border-radius: 50%;
    background-color: #1789FC;
    color: #fefefe;
    text-align: center;
    line-height: 30px;
}

.article {
    float: left;
    width: calc(100% - 40px);
}

.clearfix::after {
    display: block;
    content: '';
    clear: both;
}