header {
    width: 830px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 55px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    list-style: none;
}

.menu__item {
    position: relative;
}

.menu__item > a {
    display: inline-block;
    font-family: Pathway Gothic One;
    font-size: 28px;
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.submenu {
    display: none;
    position: absolute;
    left: -6px;
    padding: 10px 8px 5px 8px;
    text-align: center;
    list-style: none;
}

.submenu__item > a {
    display: inline-block;
    font-family: Pathway Gothic One;
    font-size: 20px;
    color: #6b7488;
    text-decoration: none;
    margin-bottom: 5px;
}

.menu__item > a:hover {
    color: #263555;
}

.submenu__item > a:hover {
    background-color: #6b7488;
    color: white;
}

.menu__item:hover > .submenu {
    display: block;
    background-color: white;
    border-radius: 5px 5px 5px 5px;    
}

.submenu::before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 2.5px 5px 2.5px;
    border-color: transparent transparent white transparent;
}

.logo {
    width: 140px;
    height: 140px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    text-align: center;
    color: #263555;
    font-family: dorsa;
    font-size: 60px;
    line-height: 140px;
}