main {
    position: relative;
    width: 1025px;
    height: 1170px;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
}